<div class="p-4">
  <h1 class="text-xl font-bold">Angular Performance Case Study</h1>

  <p>Current Time: {{ now | date: "dd.MM.yyyy HH:mm:ss" }}</p>
  <div class="mt-2 flex gap-2">
    <button
      *ngIf="collector.status === 'stopped'"
      class="btn-primary"
      (click)="start()"
    >
      Start Measurement
    </button>
    <button
      *ngIf="collector.status === 'running'"
      class="btn-primary"
      (click)="stop()"
    >
      Stop Measurement
    </button>

    <button
      *ngIf="cdHighlighter.disabled"
      class="btn-primary"
      (click)="cdHighlighter.disabled = false"
    >
      Show Change Detection
    </button>
    <button
      *ngIf="!cdHighlighter.disabled"
      class="btn-primary"
      (click)="cdHighlighter.disabled = true"
    >
      Hide Change Detection
    </button>

    <button (click)="cdHighlighter.disabled = true" class="btn-primary">
      Trigger Change Detection
    </button>
  </div>

  <div class="flex flex-wrap">
    <app-metric-container
      class="flex-none basis-1/3"
      *ngFor="let meter of meters"
      [name]="meter.name"
    ></app-metric-container>
  </div>
  {{ hightlightCd() }}
</div>
